In [22]:
import pandas as pd
import ast
df = pd.read_csv("/Users/aishwaryagopalakrishnan/MOVIE_RECOMMENDER_SYSTEM_LLMOPS/data/movies_metadata.csv", encoding='utf-8' , on_bad_lines='skip').dropna()
df.head()

/var/folders/x6/f3pvpy3n6b57mdms5kvf0m_00000gn/T/ipykernel_8827/1836628668.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/aishwaryagopalakrishnan/MOVIE_RECOMMENDER_SYSTEM_LLMOPS/data/movies_metadata.csv", encoding='utf-8' , on_bad_lines='skip').dropna()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034.0,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0
68,False,"{'id': 43563, 'name': 'Friday Collection', 'po...",3500000,"[{'id': 35, 'name': 'Comedy'}]",http://www.newline.com/properties/friday.html,10634,tt0113118,en,Friday,Craig and Smokey are two guys in Los Angeles h...,...,1995-04-26,28215918.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A lot can go down between thursday and saturda...,Friday,False,7.0,513.0
69,False,"{'id': 10924, 'name': 'From Dusk Till Dawn Col...",19000000,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,tt0116367,en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,...,1996-01-19,25836616.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,False,6.9,1644.0
153,False,"{'id': 439053, 'name': 'Brooklyn Cigar Store C...",2000000,"[{'id': 35, 'name': 'Comedy'}]",http://miramax.com/movie/blue-in-the-face/,5894,tt0112541,en,Blue in the Face,"Auggie runs a small tobacco shop in Brooklyn, ...",...,1995-09-15,1275000.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Welcome to the planet Brooklyn.,Blue in the Face,False,6.8,28.0
178,False,"{'id': 286162, 'name': 'Power Rangers Collecti...",15000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.powerrangers.com/,9070,tt0113820,en,Mighty Morphin Power Rangers: The Movie,Power up with six incredible teens who out-man...,...,1995-06-30,66000000.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Power Is On!,Mighty Morphin Power Rangers: The Movie,False,5.2,153.0

In [23]:
required_cols = {'title' , 'genres','overview'}

In [24]:
missing = required_cols - set(df.columns.str.lower())  # case-insensitive match
if missing:
    raise ValueError(f"Missing columns in CSV file: {missing}")

In [25]:
def extract_genre_names(genre_str):
    try:
        genre_list = ast.literal_eval(genre_str)  # safely parse the string to a Python list
        return ', '.join(d['name'] for d in genre_list if 'name' in d)
    except (ValueError, SyntaxError, TypeError):
        return ''  # return empty string if parsing fails

# Apply the genre parser
df['genres_clean'] = df['genres'].apply(extract_genre_names)

# Combine columns (optional)
df['combined_info'] = (
    "Title: " + df["title"] +
    " | Overview: " + df["overview"] +
    " | Genres: " + df["genres_clean"]
)

# Save the cleaned output
df[['title', 'overview', 'genres_clean', 'combined_info']].to_csv("processed_movies.csv", index=False, encoding='utf-8')

# Preview
print(df[['title', 'overview', 'genres_clean']].head())

                                       title  \
9                                  GoldenEye
68                                    Friday
69                       From Dusk Till Dawn
153                         Blue in the Face
178  Mighty Morphin Power Rangers: The Movie

                                              overview  \
9    James Bond must unmask the mysterious head of ...
68   Craig and Smokey are two guys in Los Angeles h...
69   Seth Gecko and his younger brother Richard are...
153  Auggie runs a small tobacco shop in Brooklyn, ...
178  Power up with six incredible teens who out-man...

                                          genres_clean
9                          Adventure, Action, Thriller
68                                              Comedy
69                     Horror, Action, Thriller, Crime
153                                             Comedy
178  Action, Adventure, Science Fiction, Family, Fa...